# Variáveis / Arquivos de ambiente
.env
.env.*
!.env.example
.env.local
.env.development
.env.test
.env.production


# Build
dist/
dist-ssr/
build/
.cache/
.temp
*.local


# Dependências
node_modules/
.pnpm/
.pnp/
.pnp.js
.npm
.yarn-integrity


# Editor IDE directories and files
.vscode/*
!.vscode/extensions.json
.idea
.idea/*
*.iml
*.swp
*.swo
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmproj
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Local .jsx files
HomePage1.jsx
HomePage2.jsx
CategoriaCardestilo-0.jsx
CategoriaCard-estilo1.jsx

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Sistema
.DS_Store
Thumbs.db
Desktop.ini

# Tailwind
*.css.map

# TypeScript
*.tsbuildinfo

# Testes
coverage/
.nyc_output/


# Vite cache
.cache/
.temp/

# Windows












